@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
/*ps: si jamais tu vois pourquoi mes animations finissent de manière si brut je suis preneur*/
/*Animation*/
@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@-webkit-keyframes scale-animation {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-animation {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*parametre de base*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  text-align: center;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-size: 11vw;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 1vw;
}

h2 {
  color: #24303E;
  font-size: 9vw;
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin: 15vw 0 8vw 0;
}

h3 {
  font-size: 5vw;
  font-family: "Fraunces", serif;
  color: hsl(210deg, 4%, 67%);
  margin-top: 40vw;
  letter-spacing: 1.5vw;
}

h4 {
  font-family: "Fraunces", serif;
  font-size: 5vw;
  margin-top: 8vw;
}

h5 {
  font-family: "Barlow", sans-serif;
  color: #A7AAAD;
  font-size: 4vw;
  font-weight: 600;
  margin-top: 4vw;
}

p {
  margin: 0 10% 10%;
  color: #808397;
  font-weight: 600;
  font-size: 4.5vw;
  line-height: 7vw;
}

/*contenu + image Header*/
header {
  overflow: hidden;
}
header .background {
  width: 200vw;
  height: 110vw;
  margin-left: -49vw;
  margin-top: -0.1vw;
}
header h1 {
  position: absolute;
  top: 35vw;
  -webkit-animation: scale-animation 1s;
          animation: scale-animation 1s;
}
header .logo {
  width: 35vw;
  height: 7vw;
  margin: 6vw 0 0 5vw;
}
header .menu {
  position: absolute;
  width: 6vw;
  height: 5vw;
  top: 6.5vw;
  left: 85vw;
}
header .arrow {
  position: absolute;
  width: 6vw;
  height: 20vw;
  top: 55vw;
  left: 45vw;
  -webkit-animation: slide-bottom 1.5s forwards;
          animation: slide-bottom 1.5s forwards;
}

/*Navbar header*/
.hamburger {
  display: none;
}

nav {
  display: flex;
  background-color: #3ebfff;
  padding-bottom: 30vw;
  width: 100vw;
  height: 8vw;
  color: #24303E;
  font-size: 4.5vw;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
nav ul {
  color: #5B636D;
  position: absolute;
  background-color: hsla(0deg, 0%, 100%, 0.7);
  width: 50vw;
  height: 50vw;
  right: 10vw;
  top: 20vw;
  z-index: 1;
  font-weight: 600;
  font-size: 3.5vw;
}
nav ul li {
  margin-top: 6vw;
}
nav ul li:hover {
  color: hsl(51deg, 100%, 49%);
  transition: 0.2s;
}

/*le petit triangle au dessus du menu déroulant*/
.triangle {
  display: flex;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 7vw solid hsla(0deg, 0%, 100%, 0.7);
  border-left: 7vw solid transparent;
  top: 13vw;
  right: 10vw;
}

/*le petit triangle au dessus du menu déroulant*/
.contact {
  font-size: 3.5vw;
  font-weight: 600;
  background-color: hsl(51deg, 100%, 49%);
  margin: 6vw 13vw;
  padding: 2vw;
  border-radius: 50px;
  color: white;
}
.contact:hover {
  outline: hsl(51deg, 100%, 49%) solid 0.4vw;
  color: #5B636D;
  background-color: transparent;
  transition: 0.2s;
}

/* Pas eu le temps d'apprendre a faire appaître avec js */
header:hover .hamburger {
  display: block;
}

/*parent1*/
.parent1 {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 80vw;
}
.parent1 .egg img {
  grid-area: 1/1/2/2;
  width: 100vw;
  height: 85vw;
  margin-top: -1vw;
}
.parent1 .text1 {
  grid-area: 2/1/3/2;
  margin: 1vw 0 15vw 0;
}
.parent1 .text1:hover h2 {
  color: hsl(51deg, 100%, 49%);
  opacity: 0.8;
  transition: 0.3s;
}
.parent1 a {
  width: 100vw;
  color: #5B636D;
  font-size: 4.5vw;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.parent1 a:hover {
  color: #24303E;
  transition: 1s;
}
.parent1 a:hover::before {
  opacity: 1;
  transition: 1s;
}
.parent1 a::before {
  content: "";
  width: 35vw;
  height: 2vw;
  background: hsl(51deg, 100%, 49%);
  position: absolute;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.5;
  transform: translateY(3.8vw) translateX(-1vw);
}
.parent1 .wine img {
  grid-area: 3/1/4/2;
  width: 100vw;
  height: 85vw;
}
.parent1 .text2 {
  grid-area: 4/1/5/2;
  margin-bottom: 15vw;
}
.parent1 .text2:hover h2 {
  color: hsl(7deg, 99%, 70%);
  opacity: 0.8;
  transition: 0.3s;
}
.parent1 .text2 a::before {
  background-color: hsl(7deg, 99%, 70%);
}

/*parent2*/
.parent2 {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 80vw;
}
.parent2 p {
  font-size: 3.7vw;
  font-weight: 600;
  line-height: 6vw;
  margin-bottom: 15vw;
}
.parent2 .cherry {
  grid-area: 1/1/2/2;
  width: 192vw;
  margin: 0 0 -75vw -45vw;
}
.parent2 h2 {
  font-size: 8vw;
}
.parent2 .cherrytext {
  grid-area: 2/1/3/2;
}
.parent2 .cherrytext p {
  color: hsl(167deg, 40%, 24%);
  font-weight: 600;
  line-height: 6vw;
  margin-bottom: 15vw;
}
.parent2 .cherrytext h2 {
  color: hsl(167deg, 40%, 24%);
}
.parent2 .cherrytext:hover p {
  color: white;
  transition: 0.6s;
}
.parent2 .cherrytext:hover h2 {
  color: white;
  transition: 0.5s;
}
.parent2 .orange {
  grid-area: 3/1/4/2;
  width: 192vw;
  height: 160vw;
  margin: 0 0 -75vw -45vw;
}
.parent2 .orangetext {
  grid-area: 4/1/5/2;
}
.parent2 .orangetext p {
  color: hsl(198deg, 62%, 26%);
}
.parent2 .orangetext h2 {
  color: hsl(198deg, 62%, 26%);
}
.parent2 .orangetext:hover p {
  color: white;
  transition: 0.6s;
}
.parent2 .orangetext:hover h2 {
  color: white;
  transition: 0.5s;
}

/*Testimonials */
.testimonials img {
  margin-top: 20vw;
  width: 20vw;
  border-radius: 50%;
}
.testimonials p {
  font-size: 4.4vw;
  color: #5B636D;
  margin-top: 8vw;
}
.testimonials h3 {
  margin-top: 30vw;
}

/*Grid avec 4 images carré*/
.image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 25vw 0 -15vw 0;
}
.image .milk {
  grid-area: 1/1/2/2;
  width: 50vw;
  height: 50vw;
}
.image .fruit {
  grid-area: 1/2/2/3;
  width: 50vw;
  height: 50vw;
}
.image .cone {
  grid-area: 2/1/3/2;
  width: 50vw;
  height: 50vw;
}
.image .sugar {
  grid-area: 2/2/3/3;
  width: 50vw;
  height: 50vw;
}

/*Footer + logo + liens vers les réseau sociaux*/
footer {
  background-color: #90D4C6;
}
footer h2 {
  padding-top: 12vw;
  font-size: 8vw;
  font-family: "Barlow", sans-serif;
  color: #2C7566;
  font-weight: 800;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 4vw;
  font-weight: 500;
  color: #2C7566;
  margin: 10vw 0 5vw 0;
}
footer ul :hover {
  color: white;
  transition: 0.2s;
}
footer .social {
  display: flex;
  justify-content: center;
  margin: 2vw 25vw;
}
footer .social img {
  width: 4.5vw;
  margin: 10vw 5vw;
}

/* Desktop configuration j'ai préféré mettre une résolution qui peut fonctionner sur tablette aussi car je trouve ca plus joli le format desktop sur une tablette que le format mobile */
@media screen and (min-width: 768px) {
  /*je sais il faut pas utiliser le main ainsi je l'ai vu trop tard x) si je le remplace ça fait bug mon document*/
  main {
    text-align: left;
  }
  /*header*/
  header .logo {
    position: absolute;
    width: 18vw;
    height: 4vw;
    top: -2vw;
    left: 0vw;
  }
  header .menu {
    display: none;
  }
  header .arrow {
    width: 3vw;
    height: 10vw;
    top: 24vw;
    left: 48vw;
  }
  header .background {
    margin-left: 0;
    width: 100vw;
    height: auto;
  }
  header h1 {
    width: 100vw;
    font-size: 5vw;
    top: 20vw;
    text-align: center;
  }
  header nav {
    padding-bottom: 3vw;
  }
  header nav ul {
    display: flex;
    color: white;
    position: relative;
    background-color: transparent;
    margin-left: 70vw;
    width: 50vw;
    height: auto;
    font-weight: 400;
    font-size: 1.6vw;
    margin-top: -21.5vw;
  }
  header nav ul li {
    margin-right: 3vw;
  }
  header .contact {
    color: #5B636D;
    background-color: hsl(0deg, 0%, 100%);
    font-size: 1.3vw;
    padding: 1vw;
    margin-top: 5.3vw;
    margin-left: -1vw;
  }
  header .contact:hover {
    color: white;
    background-color: hsla(0deg, 0%, 100%, 0.3);
    outline: none;
  }
  header .triangle {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /*parent1 desktop*/
  .parent1 {
    grid-template-columns: 50vw;
    grid-template-rows: 45vw;
  }
  .parent1 .egg img {
    grid-area: 1/2/2/3;
    width: 50vw;
    height: 45vw;
    margin-top: -0.2vw;
  }
  .parent1 .egg img h2 {
    font-size: 3.7vw;
    text-align: left;
    margin: 8vw 0 2vw;
  }
  .parent1 .text1 {
    grid-area: 1/1/2/2;
    margin-left: 8vw;
    margin-right: 2vw;
  }
  .parent1 .text1 h2 {
    font-size: 3.7vw;
    text-align: left;
    margin: 8vw 0 2vw;
  }
  .parent1 .text1 p {
    font-size: 1.4vw;
    line-height: 3vw;
    font-weight: 500;
    text-align: left;
    margin-left: 0;
  }
  .parent1 .text1 a {
    font-size: 1.3vw;
    margin-top: -5vw;
  }
  .parent1 .text1 a:hover {
    color: #24303E;
    transition: 1s;
  }
  .parent1 .text1 a:hover::before {
    opacity: 1;
    transition: 1s;
  }
  .parent1 .text1 a::before {
    content: "";
    width: 11vw;
    height: 1vw;
    background: hsl(51deg, 100%, 49%);
    opacity: 0.5;
    transform: translateY(1vw) translateX(-0.9vw);
  }
  .parent1 .wine img {
    grid-area: 2/2/3/3;
    width: 50vw;
    height: 45vw;
    margin-top: -0.2vw;
  }
  .parent1 .text2 {
    grid-area: 2/2/3/3;
    margin-left: 8vw;
  }
  .parent1 .text2 h2 {
    font-size: 3.7vw;
    text-align: left;
    margin: 8vw 0 2vw;
  }
  .parent1 .text2 p {
    font-size: 1.4vw;
    line-height: 3vw;
    font-weight: 500;
    text-align: left;
    margin-left: 0;
  }
  .parent1 .text2 a {
    font-size: 1.3vw;
    margin-top: -5vw;
  }
  .parent1 .text2 a:hover {
    color: #24303E;
    transition: 1s;
  }
  .parent1 .text2 a:hover::before {
    opacity: 1;
    transition: 1s;
  }
  .parent1 .text2 a::before {
    content: "";
    width: 11vw;
    height: 1vw;
    opacity: 0.5;
    transform: translateY(1vw) translateX(-0.9vw);
  }
  /*parent2 desktop*/
  .parent2 {
    grid-template-columns: 50vw;
    grid-template-rows: 45vw;
    margin-top: -10vw;
    text-align: center;
  }
  .parent2 h2 {
    font-size: 2.2vw;
    margin-bottom: 3vw;
  }
  .parent2 p {
    font-size: 1.4vw;
    line-height: 2vw;
    margin: 0 20%;
    font-weight: 500;
  }
  .parent2 .cherry {
    grid-area: 1/1/2/2;
    width: 50vw;
    height: 45vw;
    margin-left: 0;
  }
  .parent2 .orange {
    grid-area: 1/2/2/3;
    width: 50vw;
    height: 45vw;
    margin-left: 0;
  }
  .parent2 .cherrytext {
    grid-area: 2/1/3/2;
    width: 50vw;
    height: 45vw;
    margin-top: -32vw;
  }
  .parent2 .cherrytext p {
    line-height: 2vw;
  }
  .parent2 .orangetext {
    grid-area: 2/2/3/3;
    width: 50vw;
    height: 45vw;
    margin-top: -32vw;
  }
  /*testimonials desktop*/
  .testimonials h3 {
    font-size: 1.7vw;
    text-align: center;
    margin-top: 0vw;
    letter-spacing: 1vw;
  }
  /*parent3 desktop*/
  .parent3 {
    display: grid;
    grid-template-columns: 35vw;
    grid-template-rows: 1fr;
    text-align: center;
    margin-top: -10vw;
  }
  .parent3 p {
    font-size: 1.5vw;
    line-height: 2vw;
    margin: 0 5%;
    font-weight: 500;
  }
  .parent3 img {
    width: 6vw;
    margin-bottom: 5vw;
  }
  .parent3 h4 {
    font-size: 1.9vw;
  }
  .parent3 h5 {
    font-size: 1.5vw;
    margin-top: 1vw;
  }
  .parent3 .emily {
    grid-area: 1/1/2/2;
    width: 33vw;
  }
  .parent3 .thomas {
    grid-area: 1/2/2/3;
    width: 33vw;
  }
  .parent3 .jennie {
    grid-area: 1/3/2/4;
    width: 33vw;
  }
  /*parent4 (image) desktop*/
  .image {
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 1fr;
    margin-top: 10vw;
  }
  .image .milk {
    grid-area: 1/1/2/2;
    width: 25vw;
    height: auto;
  }
  .image .fruit {
    grid-area: 1/2/2/3;
    width: 25vw;
    height: auto;
  }
  .image .cone {
    grid-area: 1/3/2/4;
    width: 25vw;
    height: auto;
  }
  .image .sugar {
    grid-area: 1/4/2/5;
    width: 25vw;
    height: auto;
  }
  /*footer desktop*/
  footer h2 {
    text-align: center;
    font-size: 2.3vw;
    margin: 8vw 0;
  }
  footer ul {
    margin: -5vw 35vw 0;
  }
  footer li {
    font-size: 1.5vw;
  }
  footer .social {
    padding: 0;
    margin: 5vw 40vw 0vw 40vw;
    padding-bottom: 5vw;
  }
  footer .social img {
    margin: 0 1vw;
    width: 1.5vw;
  }
}/*# sourceMappingURL=style.css.map */